/android/virtualgdt/*.iml
/android/virtualgdt/.gradle
/android/virtualgdt/local.properties
/android/virtualgdt/.idea/caches
/android/virtualgdt/.idea/libraries
/android/virtualgdt/.idea/modules.xml
/android/virtualgdt/.idea/workspace.xml
/android/virtualgdt/.idea/navEditor.xml
/android/virtualgdt/.idea/assetWizardSettings.xml
/android/virtualgdt/.DS_Store
/android/virtualgdt/build
/android/virtualgdt/captures
/android/virtualgdt/externalNativeBuild

/android/virtualgdt/app/build
/android/virtualgdt/app/libs

/windows/bin
/windows/VirtualGDT/obj
/windows/Engine/bin
/windows/Engine/obj
/android/virtualgdt/.idea
/android/virtualgdt/.gradle

/windows/*.suo
/windows/VirtualGDT/*.user
